@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --red: #ec4899;
  --blue: #2563eb;
}

body {
  color: var(--foreground);
  background: linear-gradient(180deg, var(--background) 0%, #090e1e 100%);
  font-family: Arial, Helvetica, sans-serif;
}

.mantine-ActionIcon-root:disabled {
  background-color: transparent;
}

.mantine-Table-tr {
  border-color: rgba(255, 255, 255, 0.05);
}

.mantine-Table-th {
  padding-left: 0;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.mantine-Table-td {
  font-weight: 700;
}
